:root {
	--color-bg-body: #020659;
	--color-bg-inner: #01148c;
	--color-light: #fff;
	--color-bg-scroll-highlight: #2699fb;
	--color-element-scroll-highlight: #0f8dfb;
	--color-element-scroll-lowlight: #010e73;
	--color-opposite: #590742;
	--color-bg-card-title: #c3c4c4;
	--font-base: 'Raleway', sans-serif;
	--font-weight-light: 200;
	--font-weight-regular: 400;
	--font-weight-bold: 700;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

html {
	background-color: var(--color-bg-body);
}

body {
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
	max-width: 375px;
	background-color: var(--color-light);
	font-family: var(--font-base);
}

h1,
h2 {
	text-transform: uppercase;
}

h2 {
    font-size: 1.25rem;
}

img {
	display: block;
	max-width: 100%;
}

input {
	font: inherit;
}

a {
	text-decoration: none;
	color: var(--color-light);
}

section > a {
	display: inline-block;
	padding: 0.5em 1em;
	background-color: var(--color-opposite);
	text-transform: none;
	margin: 0.5em 1.5em;
	border-radius: 5px;
}

section > a:hover {
	background-color: var(--color-bg-body);
}

.scroll {
	display: flex;
	overflow-x: scroll;
    margin-top: 0.5em;
}

/* ============================================= */
/*                    HEADER                     */
/* ============================================= */

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
    padding-top: 58px;
}

header h1 {
    margin-bottom: 0.75em;
    font-weight: var(--font-weight-bold);
    font-size: 1.25rem;
}

header .gradient {
	background: linear-gradient(90deg, #1d24e7, #000);
	color: var(--color-light);
	padding: 0.25em 0.75em;
}

header h2 {
	visibility: hidden;
	position: absolute;
}

header p {
    font-size: 1.25rem;
}

header nav {
	order: -2;
	z-index: 2;
	position: absolute;
	top: 0;
	width: 100%;
	max-width: 375px;
}

header ul {
	position: absolute;
	top: 0;
	z-index: -1;
	overflow: hidden;
	background-color: var(--color-bg-inner);
	max-height: 58px;
	width: 100%;
	text-align: center;
	transition: max-height 0.2s ease-out;
	list-style-type: none;
	padding: 0;
}

header li {
	width: 100%;
	height: 58px;
	margin: 0 0 1em 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

header li img {
	margin: auto;
}

header li:hover {
	background-color: var(--color-opposite);
}

header li:first-child a {
	font-variant: small-caps;
	text-transform: none;
	font-weight: var(--font-weight-bold);
	width: 50%;
}

header li a {
	width: 100%;
	text-transform: uppercase;
    font-size: 1rem;
}

header label {
	cursor: pointer;
	display: inline-block;
	padding: 28px 20px;
	position: relative;
	user-select: none;
}
header label span {
	background-color: #ffffff;
	display: block;
	height: 2px;
	position: relative;
	transition: background-color 0.2s ease-out;
	width: 18px;
}

header label span:before,
header label span:after {
	background: #ffffff;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all 0.2s ease-out;
	width: 100%;
}

header label span:before {
	top: 5px;
}

header label span:after {
	top: -5px;
}

header input {
	display: none;
}

header input:checked ~ ul {
	max-height: 500px;
}

header input:checked ~ label span {
	background: transparent;
}

header input:checked ~ label span:before {
	transform: rotate(-45deg);
}

header input:checked ~ label span:after {
	transform: rotate(45deg);
}

header input:checked ~ label:not(.steps) span:before,
header input:checked ~ label:not(.steps) span:after {
	top: 0;
}

/* ============================================= */
/*                     MAIN                      */
/* ============================================= */

main > section {
	padding-top: 1.5em;
	color: var(--color-opposite);
	background-color: var(--color-light);
}

main > section h2 {
	margin-left: 0.5em;
}

section .scroll a {
	margin: 0.5em;
	min-width: 167px;
	text-align: center;
	padding: 0.5em;
}

section > a {
    font-size: 0.875rem;
    font-weight: var(--font-weight-bold);
}

/* ============================================= */
/*                   TRENDING                    */
/* ============================================= */

#trending section {
	margin: 0.5em;
	display: flex;
	flex-direction: column;
	position: relative;
	min-width: 300px;
}

#trending h3 {
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-opposite);
}

#trending dl,
#trending h3 {
	background-color: var(--color-bg-card-title);
	order: 1;
	padding-left: 0.25em;
}

#trending dt,
#trending dd {
	display: inline-block;
	margin: 0;
}

#trending dt {
	font-style: italic;
    font-weight: var(--font-weight-light);
}

#trending img {
	width: 100%;
	height: 300px;
}

#trending audio {
	position: absolute;
	top: 0;
	padding: 0 0.5em 0 0.5em;
	margin-top: calc(50% - 40px);
}

#trending audio::-webkit-media-controls-play-button,
#trending audio::-webkit-media-controls-mute-button {
	border-radius: 50%;
	background-color: var(--color-light);
}

#trending audio::-webkit-media-controls-enclosure {
	background: rgba(255, 255, 255, 0.5);
}

#trending .scroll::-webkit-scrollbar {
	width: 15px;
}

#trending .scroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 15px var(--color-opposite);
}

#trending .scroll::-webkit-scrollbar-thumb {
	background: var(--color-opposite);
	border-radius: 5px;
}

#trending ::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-bg-body);
}

/* ============================================= */
/*                  PLAYLISTS                    */
/* ============================================= */

#playlists .scroll {
	background-color: var(--color-bg-scroll-highlight);
}

#playlists .scroll a {
	background-color: var(--color-element-scroll-highlight);
}

#playlists img {
	margin: 0 auto;
}

section h3,
section p {
	color: var(--color-light);
}

#playlists ::-webkit-scrollbar,
#curated ::-webkit-scrollbar {
	width: 15px;
}

#playlists ::-webkit-scrollbar-track,
#curated ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 15px var(--color-bg-body);
}

#playlists ::-webkit-scrollbar-thumb,
#curated ::-webkit-scrollbar-thumb {
	background-color: var(--color-bg-body);
	border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover,
#curated ::-webkit-scrollbar-thumb:hover {
	background-color: var(--color-light);
}

/* ============================================= */
/*                    CURATED                    */
/* ============================================= */

#curated .scroll {
	background-color: var(--color-bg-inner);
}

#curated .scroll a {
	background-color: var(--color-element-scroll-lowlight);
}

/* ============================================= */
/*             PLAYLISTS AND CURATED             */
/* ============================================= */

#playlists h3,
#curated h3 {
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
}

#playlists p,
#curated p {
    font-size: 0.875rem;
}

/* ============================================= */
/*                   FOOTER                      */
/* ============================================= */

footer {
	padding: 1em 0 1em 0;
	background-color: var(--color-light);
	color: var(--color-opposite);
	width: 100%;
	text-align: center;
}

footer small {
	display: inline;
    font-size: 0.625rem;
    font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 834px) {
	body {
		margin: 0 auto;
		max-width: 875px;
		background-color: var(--color-light);
		font-family: var(--font-base);
		font-size: 20px;
	}

	header {
		line-height: 1;
	}

	header .gradient {
		background: linear-gradient(90deg, #1d24e7, #000);
		color: var(--color-light);
		padding: 1em 0.75em;
	}

	header nav {
		max-width: 875px;
	}

	header li:first-child a {
		width: 100%;
	}

	header ul {
		overflow: visible;
		position: absolute;
		top: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	header li {
		margin: 0;
	}

	header label span,
	header input {
		display: none;
	}

	main {
		overflow: hidden;
		display: grid;
		grid-template-columns: calc(875px / 2) calc(875px / 2);
		grid-template-areas: 'trending trending' 'playlists curated';
	}

	main section {
		display: flex;
		flex-direction: column;
	}

	section > a {
		padding: 0.5em 1em;
		background-color: var(--color-opposite);
		text-transform: none;
		margin: 0.5em 1.5em;
		align-self: flex-end;
		border-radius: 5px;
	}

	section a:hover {
		background-color: var(--color-bg-body);
	}

	#trending {
		grid-area: trending;
	}

	#playlists {
		grid-area: playlists;
	}

	#curated {
		grid-area: curated;
	}

	#playlists .scroll,
	#curated .scroll {
		flex-direction: column;
		height: 500px;
		overflow-x: hidden;
	}

	.scroll a {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-height: 150px;
		align-items: center;
	}

	#playlists .scroll h3,
	#playlists .scroll p,
    #curated .scroll h3,
    #curated .scroll p {
		width: 50%;
	}
}
